<div class="container">
  <div class="row">
    <div class="col text-center mt-4">
      <img src={{currentUser.image}} class="rounded-circle border border-3 m-4" width="200" alt={{currentUser.name}}>
      <h2>Hi {{currentUser.name}}, welcome to your profile!</h2>
      <hr class="my-4">
    </div>
  </div>
</div>